<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudiantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let student of students">
    <ion-item (click)="view(student)" *ngIf="(!active)||(active && student.active)">
      <ion-label>{{student.nc}}</ion-label>
      <ion-label>{{student.name}}</ion-label>
      <ion-toggle (click)="printValue(student)" [(ngModel)]="student.active"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Ver activos</ion-label>
    <ion-toggle [(ngModel)]="active"></ion-toggle>
  </ion-item>


  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Desarrollo de Aplicaciones Híbridas</ion-card-subtitle>
      <ion-card-title>Asignatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let student of students">
        <ion-item *ngIf="student.grade>=70">
          <ion-label>{{student.name}}</ion-label>
          <ion-label>{{student.grade}}</ion-label>
        </ion-item>
      </div>
      <ion-toggle></ion-toggle>

    </ion-card-content>
  </ion-card> -->
</ion-content>